<!DOCTYPE html>
<html>
  <head>
    <title>vdf.dev</title>
    <meta charset="utf-8" />
    <style>
      body {
        background-color: black;
        color: white;
        font: Verdana, sans-serif;
      }
      a {
        color: white;
      }
    </style>
  </head>
  <body>
    <a href="/" style="text-decoration: none">
      <pre>
          _  __     _
__   ____| |/ _| __| | _____   __
\ \ / / _` | |_ / _` |/ _ \ \ / /
 \ V / (_| |  _| (_| |  __/\ V /
  \_/ \__,_|_|(_)__,_|\___| \_/
      </pre>
    </a>
    <pre>
      {{ content }}
    </pre>
  </body>
</html>
